# AUFGABE 6

## Created test result for test person

### a) [![Generic badge](https://img.shields.io/badge/Status-New-white.svg)](https://shields.io/) Erstellen eines Tests 
- [![Generic badge](https://img.shields.io/badge/Status-New-white.svg)](https://shields.io/) Mandant?? -> int
- [![Generic badge](https://img.shields.io/badge/Status-New-white.svg)](https://shields.io/) Test ID (key) -> int
- [![Generic badge](https://img.shields.io/badge/Status-New-white.svg)](https://shields.io/) Person ID -> int
- [![Generic badge](https://img.shields.io/badge/Status-New-white.svg)](https://shields.io/) Teststelle -> string/char *(optional/ Zuggerle)*
- [![Generic badge](https://img.shields.io/badge/Status-New-white.svg)](https://shields.io/) Testart -> string/char
- [![Generic badge](https://img.shields.io/badge/Status-New-white.svg)](https://shields.io/) Person, die Test durchgeführt hat
- [![Generic badge](https://img.shields.io/badge/Status-New-white.svg)](https://shields.io/) Datum von Test -> date
- [![Generic badge](https://img.shields.io/badge/Status-New-white.svg)](https://shields.io/) Zeit von Test -> time
- [![Generic badge](https://img.shields.io/badge/Status-New-white.svg)](https://shields.io/) Testergebnis -> Ampel?(Default=UNDEF)
- [![Generic badge](https://img.shields.io/badge/Status-New-white.svg)](https://shields.io/) Datum von Testergebnis -> date (Default=UNDEF)
- [![Generic badge](https://img.shields.io/badge/Status-New-white.svg)](https://shields.io/) Zeit von Testergebnis -> time (Default=UNDEF)

### b) [![Generic badge](https://img.shields.io/badge/Status-New-white.svg)](https://shields.io/) Action: Testergebnis eintragen + Datum/Zeit

### c) [![Generic badge](https://img.shields.io/badge/Status-New-white.svg)](https://shields.io/) Link erzeugen, um Testergebnis zu verfolgen

AGENDA: 

[![Generic badge](https://img.shields.io/badge/Status-New-white.svg)](https://shields.io/)

[![Generic badge](https://img.shields.io/badge/Status-Done-green.svg)](https://shields.io/)
