# AUFGABE 6

## Created test result for test person

### a) Erstellen eines Tests 
- Mandant?? -> int
- Test ID (key) -> int
- Person ID -> int
- Teststelle -> string/char *(optional/ Zuggerle)*
- Testart -> string/char
- Datum von Test -> date
- Zeit von Test -> time
- Testergebnis -> Ampel?(Default=UNDEF)
- Datum von Testergebnis -> date (Default=UNDEF)
- Zeit von Testergebnis -> time (Default=UNDEF)

### b) Action: Testergebnis eintragen

### c) Link erzeugen, um Testergebnis zu verfolgen
