# AUFGABE 6

## Created test result for test person

### a) [![Generic badge](https://img.shields.io/badge/Status-Done-green.svg)](https://shields.io/) Erstellen eines Tests 
- [![Generic badge](https://img.shields.io/badge/Status-Done-green.svg)](https://shields.io/) Mandant -> int
- [![Generic badge](https://img.shields.io/badge/Status-Done-green.svg)](https://shields.io/) Test ID (key) -> int
- [![Generic badge](https://img.shields.io/badge/Status-Done-green.svg)](https://shields.io/) Person ID -> int
- [![Generic badge](https://img.shields.io/badge/Status-Done-green.svg)](https://shields.io/) Testart -> data element
- [![Generic badge](https://img.shields.io/badge/Status-Done-green.svg)](https://shields.io/) Employee ID -> int
- [![Generic badge](https://img.shields.io/badge/Status-Done-green.svg)](https://shields.io/) Datum von Test -> date
- [![Generic badge](https://img.shields.io/badge/Status-Done-green.svg)](https://shields.io/) Zeit von Test -> time
- [![Generic badge](https://img.shields.io/badge/Status-Done-green.svg)](https://shields.io/) Testergebnis -> data element/Ampel (Default=UNDEF)
- [![Generic badge](https://img.shields.io/badge/Status-Done-green.svg)](https://shields.io/) Datum von Testergebnis -> date (Default=UNDEF)
- [![Generic badge](https://img.shields.io/badge/Status-Done-green.svg)](https://shields.io/) Zeit von Testergebnis -> time (Default=UNDEF)

### b) [![Generic badge](https://img.shields.io/badge/Status-New-white.svg)](https://shields.io/) Action: 
- [![Generic badge](https://img.shields.io/badge/Status-Done-green.svg)](https://shields.io/) Testergebnis eintragen + Datum/Zeit
- [![Generic badge](https://img.shields.io/badge/Status-Done-green.svg)](https://shields.io/) Eingabe validieren
- [![Generic badge](https://img.shields.io/badge/Status-New-white.svg)](https://shields.io/) Im positiven Fall: Anlegen eines Testcases

### c) [![Generic badge](https://img.shields.io/badge/Status-New-white.svg)](https://shields.io/) Verschönern:
- [![Generic badge](https://img.shields.io/badge/Status-New-white.svg)](https://shields.io/) Icons hinzufügen
- [![Generic badge](https://img.shields.io/badge/Status-New-white.svg)](https://shields.io/) Allgemeine "Verschönerung"

AGENDA: 

[![Generic badge](https://img.shields.io/badge/Status-New-white.svg)](https://shields.io/)

[![Generic badge](https://img.shields.io/badge/Status-Done-green.svg)](https://shields.io/)
